@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;

    string src = "https://i.imgur.com/oLC9RcU.png";

    @if (Model.Currentuser != null && Model.Currentuser.ImageArray != null && Model.Currentuser.ImageArray.Length > 1)
    {
        src = "data:image;base64," + System.Convert.ToBase64String(@Model.Currentuser.ImageArray);
    }
}

<head>
    <link rel="stylesheet" href="~/css2/profile.css" asp-append-version="true" />
</head>

<!-- Beginning of Page header -->
<div class="container-fluid page-hero">
    <div class="hero-text">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div>
            <img src="@src" alt="profile picture" />
        </div>
        <div class="heading-text">
            <h1>Welcome back, User!</h1>
            <p>@Model.CurrentChurch.Name (@Model.CurrentChurch.Status)</p>
        </div>
    </div>
</div>

<!-- Tab Nav -->
<partial name="_ManageNav" />

<section class="data-section">
    <h3>Update @ViewData["Title"]</h3>
    @{
        var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
        @if (consentFeature?.CanTrack ?? true)
        {
            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }

                if (Model.IsMachineRemembered)
                {
                    <form method="post" style="display: inline-block">
                        <button type="submit" class="btn-success">Forget this browser</button>
                    </form>
                }
                <a asp-page="./Disable2fa" class="btn btn-success">Disable 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="btn btn-success">Reset recovery codes</a>
            }

            <h4>Authenticator app</h4>
            @if (!Model.HasAuthenticator)
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Add authenticator app</a>
            }
            else
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Set up authenticator app</a>
                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-success">Reset authenticator app</a>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Privacy and cookie policy have not been accepted.</strong>
                <p>You must accept the policy before you can enable two factor authentication.</p>
            </div>
        }
}

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}