@page
@model ForestChurches.Pages.Events.IndexModel
@{
}
<head>
    <link rel="stylesheet" href="~/css2/Page-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Events.css" asp-append-version="true" />
</head>

<!-- Beginning of Page header -->
<div class="container-fluid page-hero">
    <div class="hero-text">
        <h1>Your Events</h1>
        <p>View, edit and add events that you have going on in your church here</p>
        <button class="btn btn-success">Learn more</button>
    </div>
</div>

<!-- Content goes here -->
<div class="container events-container">

    <!-- Conditional statement starts here -->
    @if (Model.Events == null || Model.Events.Count < 1)
    {
        <p class="no-event-found">
            Unfortunately you have no events listed for your church?
            <br>Think this is a mistake? (Contact Us <a href="#">here</a>)
        </p>

    <a asp-page="./Add/Index" class="btn btn-success add-event-btn">Add Event</a>
    }

    else
    {
        <div class="row">
            @foreach (var item in Model.Events)
            {
                <div class="card">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ImageArray)" class="card-img-top card-image" alt="@item.Name picture">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <ul class="card-list">
                            <li><p><strong>Location:</strong> @item.Address</p></li>
                            <li><p><strong>Date:</strong> @item.Date</p></li>
                            <li><p><strong>Time:</strong> @item.StartTime - @item.EndTime</p></li>
                            <li><p><strong>Will it be on again?</strong> @item.Repeats</p></li>
                        </ul>
                        <!-- Buttons go here -->
                        <a asp-page="/Events/Edit/Index" asp-route-id="@item.ID" class="w-100 btn btn-primary">Edit</a>

                        <form method="post" class="contentButtons" asp-page-handler="DeleteEvent">
                            <input type="hidden" name="eventId" value="@item.ID" />
                            <button class="w-100 btn btn-danger" type="submit" onclick="return confirmDelete('@item.Name')">Delete</button>
                        </form>
                    </div>
                </div>
            }
        </div>

        <a asp-page="./Add/Index" class="btn btn-success add-event-btn">Add Event</a>
    }
    <!-- Conditional statement ends here -->

    <p class="footer-note"><strong>Note:</strong> Once an event (that is not / is no longer reoccuring) finishes, the event will be deleted roughly 24 hours after the completion time. This is to help ensure we keep the database clean and running costs down. Thank you.</p>
</div>


<script>
    function confirmDelete(userName) {
        if (confirm("Are you sure you want to delete this event: '" + userName + "'?")) {
            return true;
        } else {
            return false;
        }
    }
</script>