@page
@inject ForestChurches.Components.Configuration.Configuration configuration;
@model ForestChurches.Pages.ChurchModel
@{
    Layout = "_Layout";

    string src = "https://i.imgur.com/oLC9RcU.png";

    if (Model.AssociatedUser != null && Model.AssociatedUser.ImageArray != null)
    {
        src = "data:image;base64," + System.Convert.ToBase64String(Model.AssociatedUser.ImageArray);
    }

    string formattedAddress = Model.ChurchInformation.Address.Replace(" ", "+");
    string churchName = Model.ChurchInformation.Name.Replace(" ", "+");
    var googleMapsSrc = $"https://www.google.com/maps/embed/v1/place?key={configuration.Client.GetSecret("google-api-key").Value.Value}&q={churchName}+{formattedAddress}&zoom=18";

    int eventCount = Model.ChurchEvents?.Count ?? 0;
}
<head>
    <link rel="stylesheet" href="~/css2/Page-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Church.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Declarations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css2/Table.css" asp-append-version="true" />
</head>

<!-- Beginning of Page header -->
<div class="container-fluid page-hero">
    <div class="hero-text">
        <div>
            <img src="@src" alt="profile picture" />
        </div>
        <div class="heading-text">
            <h1>@Model.ChurchInformation.Name</h1>
            <p>@Model.ChurchInformation.Address</p>
        </div>
        <div class="tag-holder">
            <div class="tag"><strong>Denomination</strong> @Model.ChurchInformation.Denominaion</div>
            <div class="tag"><strong>Congregation</strong> @Model.ChurchInformation.Congregation</div>
        </div>
    </div>
</div>

<div class="content-container">
    <main class="card-container">
        <!-- General Church Information-->
        <section class="card half-width">
            <h2>General Information</h2>
            <p><strong>Name: </strong>@Model.ChurchInformation.Name</p>
            <p><strong>Description: </strong>@Model.ChurchInformation.Description</p>
            <p><strong>Website: </strong><a href="@Model.ChurchInformation.Website">@Model.ChurchInformation.Website</a></p>
            <p><strong>Address: </strong>@Model.ChurchInformation.Address</p>

            <h2>Facilities</h2>
            <ul>
                <li><p><strong>Refreshments</strong> @(Model.ChurchInformation.Refreshments == true ? "Available" : "Not available")</p></li>
                <li><p><strong>Restrooms</strong> @(Model.ChurchInformation.Restrooms == true ? "Available" : "Not available")</p></li>
                <li><p><strong>WiFi</strong> @(Model.ChurchInformation.Wifi == true ? "Available" : "Not available")</p></li>
                <li><p><strong>Parking</strong> @(Model.ChurchInformation.Parking == true ? "Available" : "Not available")</p></li>
                <li><p><strong>Wheelchair</strong> @(Model.ChurchInformation.WheelchairAccess == true ? "Available" : "Not available")</p></li>
            </ul>

            <div class="button-container">
                <a href="@Model.ChurchInformation.Churchsuite" class="btn btn-success half-width">ChurchSuite</a>
                <a href="#" class="btn btn-primary half-width">Send a message</a>
            </div>
        </section>

        <!-- Church Events for smaller screens -->
        <section class="card full-width events-mobile">
            <h2>Events</h2>
            <div class="list-group event-container">
                @if (Model.ChurchEvents != null)
                {
                    foreach (var item in Model.ChurchEvents)
                    {
                        <a href="@item.Link" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@item.Name</h5>
                                <small>@item.Church</small>
                            </div>
                            <p class="list-group-item-description mb-1">@item.Description</p>
                            <small>@item.Date, @item.StartTime - @item.EndTime</small>
                        </a>
                    }
                }
                else if (Model.ChurchEvents == null)
                {
                    <a href="#" class="list-group-item">Sorry, this church has no listed events</a>
                }
            </div>
        </section>

        <!-- Church Services -->
        <section class="card services-card full-width">
            <h2>Sunday Services</h2>
            <ul>
                @if (Model.ChurchInformation.ServiceTimes != null)
                {
                    foreach (var service in Model.ChurchInformation.ServiceTimes)
                    {
                        <li>@service.Note @@ @service.Time</li>
                        <br />
                    }
                }
            </ul>
        </section>
    </main>

    <!-- Church Events for larger screens -->
    <aside class="card events">
        <h2>Events</h2>
        <div class="list-group event-container">
            @if (Model.ChurchEvents != null)
            {
                foreach (var item in Model.ChurchEvents)
                {
                    <a href="@item.Link" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@item.Name</h5>
                            <small>@item.Church</small>
                        </div>
                        <p class="list-group-item-description mb-1">@item.Description</p>
                        <small>@item.Date, @item.StartTime - @item.EndTime</small>
                    </a>
                }
            }
            else if (Model.ChurchEvents == null)
            {
                <a href="#" class="list-group-item">Sorry, this church has no listed events</a>
            }
        </div>

        <br />
        <br />

        <h2 class="map-header">Find Us On Google Maps</h2>
        @if (eventCount <= 2)
        {
            <section class="google-map">
                <iframe class="full-width-map" src="@googleMapsSrc"
                        style="border:0;"
                        allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </section>
        }
    </aside>
</div>

@* Keep the map here if there are more than 2 events *@
@if (eventCount > 2)
{
    <section class="google-map">
        <iframe class="full-width-map" src="@googleMapsSrc"
                style="border:0;"
                allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </section>
}